* {
	margin: 0;
	padding: 0;
	border: 0;
}

nav {
	display: flex;
	flex-direction: row;
	align-self: flex-end;
	width: 20%;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 14px 14px 14px 250px;

}


header {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 3px solid blue;
	text-align: center;
	height: 75px;
	padding: 30px;
	margin: 40px, 400px, 0, 40px;
	background-color: #fa4616;
}

section {
	max-width: 750px;
	margin: auto;
}

img {
	float: left;
	margin: 10px;
}

h1 {
	align-self: flex-start;
	justify-self: center;
	font-size: 40px;
	color: rgb(0, 33, 165);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-bottom-color: black;
}

h2 {
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	border-bottom: 3px solid blue;
}

aside {
	background-color: aliceblue;
	margin: 14px 14px 14px 150px;
	width: 350px;
	height: 150px;
	align-self: flex-start;
	border-radius: 50px;
}

.container {
	display: flex;
	justify-content: space-between;
	justify-content: center;
	padding: 40px;
}

.link {
	margin-right: 20px;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-image: radial-gradient(#ddd 1px, transparent 3px);
	background-position: 0 0, 25px 25px;
	background-size: 50px 50px;
	background-attachment: fixed;
}

li {
	list-style-type: none;
}

p {
	font-size: 20px;
	text-align: justify;
	background-color: aliceblue;
}

footer {
	font-size: 20px;
	text-align: center;
	color: white;
	width: 100%;
	bottom: 0;
	background-color: #fa4616;
	clear: both;
}