header,
footer {
	background-color: #fa4616;
	padding: auto;
}

header {
	border-bottom: 3px solid blue;
	
	
}

.container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-left: 1700px;
	position: absolute;
	font-size: 30px;
	color: rgb(0, 33, 165);
}

.navc {
	margin-left: 1750px;
		
}

h1 {
	display: inline-block;
	text-align: left;
	font-size: 40px;
	color: rgb(0, 33, 165);
	font-family: Georgia, "Times New Roman", Times, serif;
	border-bottom-color: black;
}

h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	border-bottom: 3px solid blue;
	width: 1550px;
	line-height: 25px;
	display: inline-block;
}

.stext {
	font-weight: bold;
	text-decoration-line: underline;
}

.link {
	font-size: 30px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: auto;
	margin-bottom: auto;
}

main {
	width: 75%;
	padding: 0px;
	display: inline-block;
}

img {
	float: left;
	margin: 16px;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-image: radial-gradient(#ddd 1px, transparent 3px);
	background-size: 50px 50px;
	background-attachment: fixed;
}

li {
	list-style-type: none;
}

p {
	width: 1500px;
	font-size: 20px;
	line-height: 25px;
	position: relative;
	bottom: 20px;
}

footer {
	font-size: 20px;
	text-align: center;
	color: white;
}